[build]
  command = "npm run build"
  publish = "dist"
  [build.environment]
    VITE_ENABLE_ANALYTICS = "true"
    VITE_GA_MEASUREMENT_ID = "G-CXWT5BQ532"

[[redirects]]
  from = "/ws/*"
  to = "https://sharencrypt-relay.netlify.app/ws/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/wasm/*"
  to = "/wasm/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/wasm/*"
  [headers.values]
    Content-Type = "application/wasm"